@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Poppins", sans-serif !important;
}

body .bg-dark {
  /*background-color: limegreen!important;*/
}

.Sign-form {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Sign-form-box {
  min-width: 100vmin;
}

/* .linkInUsersContainer {
  text-decoration:'none' !important;
  color: 'inherit'!important;
} */

.linkInUsersContainer :hover {
  background-color: #cccccc; /*#c2f3a3 0 #cccccc*/
}

.basicPetInfo label {
  font-size: large;
  font-weight: bold;
  color: #001f40;
  /*
  color label: #4da3ff
  color bg info basica: #001f40
  color menu: #007bff
  */
}
.basicPetInfo small {
  color: #d2e8ff;
}
.basicPetInfo input {
  color: #f6f6f6;
}

.cursorPointer {
  cursor: pointer;
}

.cardDiv {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0;
  z-index: 10;
  transition-duration: 0.5s;
}
.cardDiv:hover {
  cursor: pointer;
  opacity: 0.4;
  transition-duration: 0.5s;
  color: black;
  font-size: x-large;
  /* box-shadow: 0 0 10px 2px #000000; */
}

/* .card:hover {
  box-shadow: none;
} */
.card {
  box-shadow: 0 0px 7px 0.5px #bababa;
}
